.grid-container{
    margin-left:8rem ;
    margin-right:8rem ;
    margin-top: 3rem;
}
.feel{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-family: AenoikTrial-Regular;
}
.grid{
    display: grid;
    margin: 3.5rem auto;
    max-width: 1020px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    /* margin-top: 3.5rem; */
    margin-bottom: 2rem;
}
.grid-box{
    max-width: 500px;
    height: 709px;
    border-radius: 20px;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #32B76F;
}
.grid-box-a{
      max-width: 500px;
    height: 709px;
    border-radius: 20px;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #F66214;
}
.grid-box-b{
      max-width: 500px;
    height: 709px;
    border-radius: 20px;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #0D3A3C;
}
.grid-box-c{
      max-width: 500px;
    height: 709px;
    border-radius: 20px;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #8638E5;
}
.seemless-shopping{
    font-size: 43px;
    margin-top: 2rem;
    font-family: AenoikTrial-Bold;
}
#our-p{
    margin-bottom: 2rem;
}
#easy{
    color:#32B76F;
}
#tv-seamless{
    color:white;
}
.grid-box-p {
    color: white;
    font-size: 21px;
    margin-top: 1rem;
    font-family: AenoikTrial-Regular;
}
.grid-icons{
    /* width: 20%; 
    height: 20%;  */
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.grid-icons img {
    width: 60%;
}
.grid-icon{
    display: flex;
    justify-content: center;
}
.mockup{
    margin-top:6.45rem ;
    width: 90%;
}
.avatar{
    width: 70%;
    margin-top: 2rem;
}
.reward-card{
    width: 97%;
    margin-top: 3.2rem;
}
.grid-email{
    width: 412px;
    height: 70px;
    border-radius: 80px;
    padding-left: 30px;
    font-size: 20px;
    border-color: gray;
    margin-top: 4rem;
    font-family: AenoikTrial-Regular;
}
.grid-join{
    margin-top: 1rem;
    font-size: 20px;
    width: 180px;
    height:70px ;
    border-radius: 80px;
    background-color: #32B76F;
    color: white;
    border: none;
    font-family: AenoikTrial-Regular;

}
.grid-join:hover{
    background-color: #1d9f5a;
}
.grid-join:active{
    transform: translateY(4px);
}

.get-the{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: AenoikTrial-Regular;
    margin-top: 9rem;
}
.get-the-app {
    font-size: 60px;
    font-family: AenoikTrial-Regular;
}
.get-the p{
    font-size: 25px;
    color: #666666;
    margin-top: 1rem;
    font-family: AenoikTrial-Regular;
}
.grid-email-2{
    width: 500px;
    height: 75px;
    border-radius: 80px;
    padding-left: 40px;
    font-size: 20px;
    border-color: gray;
    margin-top: 3rem;
    font-family: AenoikTrial-Regular;
}
.grid-join-2{
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 20px;
    height: 75px;
    width: 250px;
    border-radius: 80px;
    background-color: #32B76F;
    color: white;
    border: none;
    font-family: AenoikTrial-Regular;
}
.grid-join-2:hover{
    background-color: #1d9f5a;
}
.grid-join-2:active{
    transform: translateY(4px);
}
@media screen and (max-width:1024px) {
    .feel{
        font-size: 36px;
    }
    .grid{
        display: grid;
        justify-items: center;
        justify-content: center;
        column-gap: 0.5rem;
        max-width: 860px ;
        row-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .grid-box{
        max-width: 420px;
        height: 690px;
        border-radius: 20px;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: #32B76F;
    }
    .grid-box-a{
         max-width: 420px;
        height: 690px;
        border-radius: 20px;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .grid-box-b{
         max-width: 420px;
        height: 690px;
        border-radius: 20px;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .grid-box-c{
         max-width: 420px;
        height: 690px;
        border-radius: 20px;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .grid-container{
        margin-left:1rem ;
        margin-right:1rem ;
        margin-top: 0rem;
    }
    .get-the-app {
        font-size: 36px;
    }
    .get-the p{
        font-size: 25px;
        color: #666666;
        margin-top: 1rem;
    }
    .mockup{
        margin-top:3rem ;
        width: 90%;
    }
    .avatar{
        width: 70%;
        margin-top: 2rem;
    }
    .reward-card{
        width: 97%;
        margin-top: 2.2rem;
    }
    .grid-email{
        width: 350px;
        height: 65px;
        border-radius: 80px;
        padding-left: 30px;
        font-size: 19px;
        border-color: gray;
        margin-top: 4rem;
    }
    .grid-join{
        margin-top: 1rem;
        font-size: 19px;
        width: 150px;
        height:65px ;
        border-radius: 80px;
        background-color: #32B76F;
        color: white;
        border: none;
    
    }
    .grid-email-2{
        width: 341px;
        height: 76px;
        padding-left: 40px;
        font-size: 20px;
        margin-top: 3rem;
    }
    .grid-join-2{
        margin-top: 3rem;
        margin-left: 1rem;
        font-size: 23px;
        height: 76px;
        width: 190px;
        border-radius: 80px;
    }

}
@media screen and (max-width:767px) {
    .grid{
        margin-bottom: 0rem;
    }
    .feel{
        display: flex; 
         justify-content: center;
         text-align: center;
        
        font-size: 23px;
    }
    .grid-container{
        margin-left:2rem ;
        margin-right:2rem ;
        margin-top: 0rem;
    }
    .grid-box{
        width: 320px;
        height: 435px;
        border-radius: 20px;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        background-color: #32B76F;
    }
     .grid-box-a{
        width: 320px;
        height: 435px;
        border-radius: 20px;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
     .grid-box-b{
        width: 320px;
        height: 435px;
        border-radius: 20px;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
     .grid-box-c{
        width: 320px;
        height: 435px;
        border-radius: 20px;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .seemless-shopping{
        color: #0D3A3C;
        font-size: 25px;
        margin-top: 1rem;
    }
    .grid-box-p {
        font-size: 15px;
        margin-top: 0.3rem;
    }
    .grid-icons{
        /* width: 20%; 
        height: 20%;  */
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .grid-email{
        width: 256px;
        height: 53px;
        border-radius: 80px;
        padding-left: 20px;
        font-size: 12px;
        border-color: gray;
        margin-top: 4rem;
    }
    .grid-join{
        margin-top: 1rem;
        font-size: 14px;
        width: 145px;
        height:53px ;
        border-radius: 80px;
        background-color: #32B76F;
        color: white;
        border: none;
    
    }
    .mockup{
        margin-top:3.55rem ;
    }
    .reward-card{
        margin-top: 1rem;
    }
    .get-the-app {
        font-size: 27px;
        margin-top: 7rem;
    }
    .get-the{
        margin-top: 1rem;
    }
    .get-the p{
        font-size: 12px;
        color: #666666;
        margin-top: 0.5rem;
    }
    .grid-email-2{
        width: 175px;
        height: 40px;
        padding-left: 15px;
        font-size: 12px;
        margin-top: 1rem;
    }
    .grid-join-2{
        margin-top: 1rem;
        margin-left: 0.5rem;
        height: 40px;
        font-size: 12px;
        width: 100px;
    }
}