

.we-built{
    font-size: 64px;
    font-family: AenoikTrial-Regular;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 4rem auto;
    max-width:1240px ;
  }
  
  .column {
    flex: 1;
    flex-wrap: nowrap;
  }
  
  .employee-image {
    width: 100%;
    height: 70%;
    object-fit: contain;
    border-radius: 10px;
    transition: opacity 0.5s;
  }
  .name-list{
    background-color: #F5F5F7;
    border-radius: 10px;
    padding-left: 2rem;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    min-height: 126px;
  }
  .names-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .employee-name{
    font-size: 34px;
    font-family: AenoikTrial-Regular;

  }
  .employee-role{
    font-size: 19px;
    font-family: AenoikTrial-Regular;
    color: #4D4D4D;
  }
  @media screen and (max-width:1024px){
    .we-built{
        font-size: 50px;
    }
    .name-list{
        background-color: #F5F5F7;
        border-radius: 10px;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
        min-height: 116px;
        border: 1px solid #32B76F ;
      }
      .employee-name{
        font-size: 34px;
        font-family: AenoikTrial-Regular;
      }
      .employee-role{
        font-size: 19px;
        font-family: AenoikTrial-Regular;
        color: #4D4D4D;
      }
      .names-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 4rem;
      }
      .employee-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
        transition: opacity 0.5s;
        margin-left: 3.2rem;
      }
      .container {
        margin-top: 4rem;
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        gap: 0;
        margin-left: 1rem;
        margin-right: 1rem;
      }

  }
  @media screen and (max-width:767px){
    .we-built{
        font-size: 23px;
    }
    .name-list{
        background-color: #F5F5F7;
        border-radius: 5px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: flex;
        gap: 3px;
        flex-direction: column;
        justify-content: center;
        max-width: 608px;
        min-height: 60px;
      }
      .employee-name{
        font-size: 15px;
        font-family: AenoikTrial-Regular;
      }
      .employee-role{
        font-size: 9px;
        font-family: AenoikTrial-Regular;
        color: #4D4D4D;
      }
      .employee-image {
        width: 110%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
        transition: opacity 0.5s;
        margin-left: 0.1rem;
      }
      .names-container{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-left: 2rem;
      }
      .container {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        gap: 0;
        margin-left: 1rem;
        margin-right: 1rem;
      }

  }