.about-the-app {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 55px;
    font-family: AenoikTrial-Regular;
    margin-top: 10rem;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:3.2rem;
    color: #514e4e;
    padding-top: 13px;
    line-height: 1.3;
    font-weight: 400;
    font-family: AenoikTrial-Regular;
    margin-bottom: 12rem;
}

@media screen and (max-width:1024px) {
    .about-the-app {
        font-size: 36px;
        margin-top: 24rem;
    }

    .info {
        font-size: 2.3vh;
        /* font-size: 30px; */
        margin-left: 3rem;
        margin-right: 3rem;

    }

}

@media screen and (max-width:767px) {
    .about-the-app {
        font-size: 23px;
        margin-top: 6rem;
    }

    .info {
        font-size: 1rem;
        margin-bottom: 5.5rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;

    }
}